[SddmGreeterTheme]
Name=lc
Description=For weary eyes.
Author=gronk-droid
Copyright=Copyright (C) 2025 gronk-droid
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/gronk-droid/sddm-lc
Screenshot=Previews/screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=lc
Theme-API=2.11
